*{
    box-sizing: border-box;
}
@import url("normalise.css");

/* -------------------- GLOBAL DEFAULTS */
.html {
    background-color: #fffafc;
    font-family: sans-serif;
    line-height: 1.15;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

img {
    width: 600px;
    height: auto;
}