*{
    box-sizing: border-box;
}
@import url("normalise.css");

/* -------------------- GLOBAL DEFAULTS */
body {
    background-color: #fffafc;
    font-family: sans-serif;
    line-height: 1.15;
}

/* -------------------- NAVIGATION BAR */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: #fffafc;

}

nav .introduction p{
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: #082f36;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    list-style-type: none;
}

nav li a{
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #082f36;
    text-decoration: none;
}

/* -------------------- INTRODUCTION */
.image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 300px;
}

.image2{
    width: 200px;
    height: 250px;
    float: left;
    border: 3px solid #fffafc;
    border-radius: 10px;
    margin-right: 15px;
}

.wrapper{
    margin: 50px auto;
    width: 80%;
}

.text-box{
    color: black;
}

.text-box h2{
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 15px;
    letter-spacing: 1.25px;
    line-height: 150%;
    margin-bottom: 18px;
}

#button {
    background-color: #082f36;
    color: #fffafc;
    padding: 10px 25px;
    margin: 0px;
    border-radius: 5px;
    float: left;
}

/* -------------------- MY PROJECTS */
.next-section h2{
    padding: 100px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
}

.specialty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 115%;
    bottom: 50%;
}

.project {
    padding: 0px 20px 20px;
    margin-left: 40px;
}

/* -------------------- FOOTER AND SOCIAL LINKS */
.socials{
    padding: 300px;
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0px 5px;
    overflow: hidden;


}